<% # If user is signed in execute following code %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <% # Render a partial _user_infor in the shared folder %>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <% # Render a partial _micropost_form in the shared folder %>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <% # Render partial feed %>
      <%= render 'shared/feed' %>
    </div>
  </div> 
<% # If user is not logged in %> 
<% else %>
  <% # The div will be placed inside the applicatin %>
  <% # layout template to make complete page. %> 
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>
    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%
    	# link_to creates a hyperlink that displays Sign up now! and
    	# currently has a blank href usung # symbol.
    %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <%
  	# link_to creates a hyperlink that will display an image using
  	# the image_tag. This tag look in the app/assets/images for the
  	# image file rails.png. The image_tag will create the alt attribute
  	# with the value of Rails. This will be used by browsers hearing
  	# inpaired readers instead of the picture. link_to will create href
  	# link to http://rubyonrails.org/.
  %>
  <%= link_to image_tag("rails.png", alt: "Rails"), 
  	'http://rubyonrails.org/' %>
<% end %>
