<% # Declare a hash title and assigne it user name %>
<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<% # Call mathod gravatar_for passing @user object %>
				<% # This will return a gravatar image %>
				<%= gravatar_for @user, size: 40 %>
				
				<% # User name for the header diaplay %>
				<%= @user.name %>
			</h1>
		</section>
		<section>
			<% # Renders the following/followed stats %>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="span8">

		<% # Renders a follow button to create relationship with user %>
		<%= render 'follow_form' if signed_in? %>
		
		<% # Test if there is any micropost to display %>
    	<% if @user.microposts.any? %>
      		<% # Count the number of micropost %>
      		<h3>Microposts (<%= @user.microposts.count %>)</h3>
      		<ol class="microposts">
        		<% # Render micropost using partial %>
        		<%= render @microposts %>
      		</ol>
     	 	<% 
     	 		# Break micropost into different pages it there are a large 
     	 		# number. 
     	 	%>
     	 	<%= will_paginate @microposts %>
    	<% end %>
  </div>
</div>
