<!-- 
	Classes used in layout have specific meaning in Bootstrap
	Bootstrap it a gemfile supplied by twitter for generating
	CSS easily and quick formatting of page latout. 
-->

<!-- Top of page -->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <% 
      	# Logo at top of page.
      	# link_to creates a html hyperlink with the text
      	# sample app being visible. Currently the href will
      	# link to # and it will have an id of logo.
      %>
      <%= link_to "sample app", root_path, id: "logo" %>
      <!-- navigation bar for the site -->
      <nav>
        <ul class="nav pull-right">
          <%
          	# link_to is used to create hyperlinks for the
          	# navigation bar. The first parameter is the text
          	# that will be displayed such as Home. The next
          	# parameter is were the href will direct the browser.
          	# At this point it is using the # sysmbol for a blank
          	# link.
          %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          
          <% # If user is signed %>
          <% if signed_in? %>
            
            <% # Create a dropdown box %>
            <li id="fat-menu" class="dropdown">
              
              <% # Link that tobbles the box up and down with text Account %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              
              <% # Dropdown box container %>
              <ul class="dropdown-menu">
                
                <% # Link to the profile page with action to current_user %>
                <li><%= link_to "Profile", current_user %></li>
                
                <% # Link to the Settings page with stub action %>
                <li><%= link_to "Settings", '#' %></li>
                
                <% # Divider to seterate following link from rest of drop box %>
                <li class="divider"></li>
                <li>
                  
                  <% 
                    # Link to let user signout with action signout_path
                    # and a method of delete.
                  %>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>

          <% # If the user is not signed in %>
          <% else %>

            <% 
              # Create a link to allow user to sign in 
              # with action signin_path. 
            %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>    
        </ul>
      </nav>
    </div>
  </div>
</header>
