<!DOCTYPE html>
<html>
	<head>
	    <% # Helper class full_title is called %>
	    <% # sending variable title as a parameter. %>
	    
	    <% # Variable title is declared in main page %>
	    <% # being rendered through the layout page. %>
	    <title>
	      <%= full_title(yield(:title)) %>
	    </title>
	  	<%= stylesheet_link_tag    "application", 
	  		:media => "all" %>
	  	<%= javascript_include_tag "application" %>
	  	<%= csrf_meta_tags %>

      <% 
        # Renders content of layouts/_shim.htm.erb
        # into the place of the page.
      %>
	    <%= render 'layouts/shim' %>
	</head>
<body>
  <%
    # Renders the header here from
    # layouts/_header.html.erb to this
    # location of the page.
  %>
  <%= render 'layouts/header' %>
  <!-- Main body of the page -->
  <div class="container">

    <% 
       # Cycle through each item in flash and assign the key and value
       # pair into block variable.
    %>
    <% flash.each do |key, value| %>
      <%
        # Create a div tag that contains the value of the 
        # value key pair.
      %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>

    <% # Renders the main html file here. %>
    <%= yield %>
    <%
    # Render the footer from layouts/_footer.html.erb
    # to this location of page
    %>
    <%= render 'layouts/footer' %>

    <%
      # Displays a hash that contains the controller
      # and action for the page. It is only displayed
      # if rails is in a development environment.
    %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
